body {
    background: linear-gradient(to right, #ff7e5f, #feb47b, #86a8e7, #91eae4);
    height: 100vh;
    margin: 0;
    display: flex;
justify-content: center;
align-items: center;
text-align: center;
}
.título-group {
font-style: italic; 
height:30px;
}


